
<style type="text/css">

body {
    color: purple;
    background-color: #d8da3d ;
    font-family: Georgia, "Times New Roman",Times, serif;      
}


input[type=text] {
  background-color: #3CBC8D;
  color: white;
}


.google-visualization-table-table { 
    /* font-family: arial , helvetica; */
    font-family: Georgia, "Times New Roman",Times, serif;      

  font-size: 8pt;
}




/*
@media only screen and (min-width: 768px)
.LS81yb {*/
    /* padding-left: 48px; */
    /* padding-right: 48px; */
/*
}*/


</style>



